#app .change-password-form-panel {
  max-width: 400px;
  margin: 50px auto 0 auto;

  h4 {
    margin-bottom: 40px;
  }

  .spacer {
    height: 2em; 
  }

  input {
    font-size: 2rem;
  }
  label {
    font-size: 1.2rem;
  }

  label:after {
    top: 72px;
  }
}
